.container2{
  max-width: 1154.5px;
  margin: 0 auto;
}

@media (min-width: 834px) and (max-width: 1439px) {
  .container2 {
    max-width: 759px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 375px) and (max-width: 834px) {
  .container2 {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
  }
  .info{display:block ;}
}

.info {
  display: flex;
  //   max-width: 1239px;
  //   margin: 0 auto;
  //   margin-top: 150px;
  //   display: flex;
  //   justify-content: space-between;
    align-items: center;
}

.caption {
  max-width: 430px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.text {
    margin-right: 85px;
  margin-top: 24px;
  max-width: 570px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (min-width:834px) and (max-width:1439px) {
    .text{
        max-width: 360px;
    }

    .imgBg{
        width: 354px;
    }
  }

.click { 
  margin-top: 24px;
  width: 260px;
  height: 60px;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.click:hover{
    background: linear-gradient(90deg, #ea66d6 0%, #d71a1a 100%);

}

